<div id="main_footer">
  <div class="container" id="footer_container">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p id="font_title">Get to Know Us</p>
              <p>Careers </p>
              <p id="follow_footer">About Genius</p>
              <p id="follow_footer">Public Relations</p>
              <p id="follow_footer">Genius Devices</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p id="font_title">Make Money</p>
              <p>Sell Your Books</p>
              <p id="follow_footer">Sell Your Videos</p>
              <p id="follow_footer">Sell Your Service</p>
              <p id="follow_footer">Advertise </p>
              <p id="follow_footer">Become an Affiliate</p>
              <p id="follow_footer">Self Publish with Us</p>
              <p id="follow_footer">Sell Your Apps</p>
              <p id="follow_footer">See All</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p id="font_title">Genius Payments</p>
              <p>Careers </p>
              <p id="follow_footer">Sell Your Service</p>
              <p id="follow_footer">Sell Your Service</p>
              <p id="follow_footer">Sell Your Service</p>
              <p id="follow_footer">Advertise </p>
              <p id="follow_footer">Advertise </p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <p id="font_title">Let Us Help You</p>
              <p>Careers </p>
              <p id="follow_footer">Sell Your Service</p>
              <p id="follow_footer">Sell Your Service</p>
              <p id="follow_footer">Advertise </p>
              <p id="follow_footer">Advertise </p>
          </div>
      </div>
  </div>
  </div>
  <div id="copyright_background">
    <hr>
  <p class="text-center">Conditiions of Use © 2019, Genius Inc. </p>
  </div>