<!--<div class="spinner">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>-->

<div class="similar_section container">
            
  <div class=" similar_books_element line"></div>
  <div class=" similar_books_element line"></div>
  <div class=" similar_books_element line"></div>
  <div class=" similar_books_element line"></div>
  <div class=" similar_books_element line"></div>
  
  
  
</div>

<div class="container">
      <div class=" divider line"></div>

</div>

<div class="similar_section container">
      
      <div class=" similar_books_element line"></div>
      <div class=" similar_books_element line"></div>
      <div class=" similar_books_element line"></div>
      <div class=" similar_books_element line"></div>
      <div class=" similar_books_element line"></div>
      
      
      
  </div>

  <div class="container">
          <div class=" divider line"></div>

  </div>

  <div class="container">
    <div class="category line"></div>
    <div class="category line"></div>
    <div class="category line"></div>
    
</div>

<div class="similar_section container">
            
  <div class=" similar_books_element line"></div>
  <div class=" similar_books_element line"></div>
  <div class=" similar_books_element line"></div>
  <div class=" similar_books_element line"></div>
  <div class=" similar_books_element line"></div>
  
  
  
</div>

<div class="container">
  <div class=" divider line"></div>

</div>

<div class="similar_section container">
            
  <div class=" similar_books_element line"></div>
  <div class=" similar_books_element line"></div>
  <div class=" similar_books_element line"></div>
  <div class=" similar_books_element line"></div>
  <div class=" similar_books_element line"></div>
  
  
  
</div>


<div class="fixed-bottom">
    <div class="loader"></div>

</div>