<div class="no-freeze-spinner">
  
      <!-- <img src="https://firebasestorage.googleapis.com/v0/b/fcc-books-7fe62.appspot.com/o/test%2F1554940341251_gen2.png?alt=media&token=1e43f98f-780f-4eab-b393-c2d9e37375ba" /> -->
      <div id="no-freeze-spinner">
        <div>
          <i class="material-icons">
            account_circle
          </i>
          <i class="material-icons">
           home
          </i>
          <i class="material-icons">
            work
          </i>
          <div>
          </div>
        </div>
      </div>
    </div>