<!-- <app-loading-spinner *ngIf = "showSpinner"></app-loading-spinner> -->
<app-book-spinner *ngIf = "showSpinner"></app-book-spinner>

<div id="page_title">
    <p>Featured...</p>
  </div>

<div class="scrolling-wrapper" style="height: 480px;">
    <div class="provider_card">
        <div class="container d-flex bd-highlight">
          <div class="flex-item">
              <div class="provider_topic">
                <div class="container" >
                    <div class="d-flex justify-content-end flex-column" style="height: 300px;">
                        <div class="mb-auto lighttxt_avatar"><P class="promo_header"></P></div>
                        <div class="toolbar_more" [routerLink]="['/entertainment']" routerLinkActive="router-link-active" >Entertainment</div>
                        <div class="" ><h4>Best Collection</h4></div>
                        
                        <div class=""></div>
                      </div>
                </div>
    
                </div>
      
                <div class="image_below">
                    <img src = "https://cdn.dribbble.com/users/1016900/screenshots/4814544/conceerts.png" class="image_below"/>
      
                </div>

                <div class="image_below">
                    <img src = "https://cdn.dribbble.com/users/247458/screenshots/5052439/wallpaper1.jpg" class="image_below"/>
      
                </div>
    
               
    
          </div>
    
          <div class="flex-item2">
              <div class="image_above">
                  <img src = "https://static1.squarespace.com/static/56ba151a2fe131235c7fa2e8/t/5910bb45bebafbe5ba31d189/1494268759253/" class="image_above"/>
      
                </div>
                <div class="image_above">
                    <img src = "https://cdn.dribbble.com/users/887237/screenshots/2832678/music.png" class="image_above"/>
        
                  </div>
    
                <div >
                    <img src ="https://cdn.dribbble.com/users/2991/screenshots/3370551/ub_4.gif" class="provider_image"/>
    
                  </div>
    
          </div>
    
        </div>
    
      </div>

      <div class="provider_card">
        <div class="container d-flex bd-highlight">
          <div class="flex-item">
              <div class="top_act">
                <div class="container" >
                    <div class="d-flex justify-content-end flex-column" style="height: 300px;">
                        <div class="mb-auto lighttxt_avatar"><P class="promo_header"></P></div>
                        <div class="toolbar_more" [routerLink]="['/education']" >Education</div>
                        <div class="" ><h4>Top action</h4></div>
                        
                        <div class=""></div>
                      </div>
                </div>
    
                </div>
      
                <div class="image_below">
                    <img src = "https://cdn.dribbble.com/users/1016900/screenshots/4814544/conceerts.png" class="image_below"/>
      
                </div>

                <div class="image_below">
                    <img src = "https://cdn.dribbble.com/users/247458/screenshots/5052439/wallpaper1.jpg" class="image_below"/>
      
                </div>
    
               
    
          </div>
    
          <div class="flex-item2">
              <div class="image_above">
                  <img src = "https://static1.squarespace.com/static/56ba151a2fe131235c7fa2e8/t/5910bb45bebafbe5ba31d189/1494268759253/" class="image_above"/>
      
                </div>
                <div class="image_above">
                    <img src = "https://cdn.dribbble.com/users/887237/screenshots/2832678/music.png" class="image_above"/>
        
                  </div>
    
                <div >
                    <img src ="https://media.giphy.com/media/l0HlEOf5L0m2YEbW8/giphy.gif" class="provider_image"/>
    
                  </div>
    
          </div>
    
        </div>
    
      </div>

      <div class="provider_card">
        <div class="container d-flex bd-highlight">
          <div class="flex-item">
              <div class="virt_act">
                <div class="container" >
                    <div class="d-flex justify-content-end flex-column" style="height: 300px;">
                        <div class="mb-auto lighttxt_avatar"><P class="promo_header"></P></div>
                        <div class="toolbar_more">Science</div>
                        <div class="" ><h4>Virtual Reality</h4></div>
                        
                        <div class=""></div>
                      </div>
                </div>
    
                </div>
      
                <div class="image_below">
                    <img src = "https://cdn.dribbble.com/users/1016900/screenshots/4814544/conceerts.png" class="image_below"/>
      
                </div>

                <div class="image_below">
                    <img src = "https://cdn.dribbble.com/users/247458/screenshots/5052439/wallpaper1.jpg" class="image_below"/>
      
                </div>
    
               
    
          </div>
    
          <div class="flex-item2">
              <div class="image_above">
                  <img src = "https://static1.squarespace.com/static/56ba151a2fe131235c7fa2e8/t/5910bb45bebafbe5ba31d189/1494268759253/" class="image_above"/>
      
                </div>
                <div class="image_above">
                    <img src = "https://cdn.dribbble.com/users/887237/screenshots/2832678/music.png" class="image_above"/>
        
                  </div>
    
                <div >
                    <img src ="https://media1.tenor.com/images/28ad8afb6c91d28bcc8bf1f04e302b77/tenor.gif?itemid=5378976" class="provider_image"/>
    
                  </div>
    
          </div>
    
        </div>
    
      </div>

      <div class="provider_card">
        <div class="container d-flex bd-highlight">
          <div class="flex-item">
              <div class="super_lte">
                <div class="container" >
                    <div class="d-flex justify-content-end flex-column" style="height: 300px;">
                        <div class="mb-auto lighttxt_avatar"><P class="promo_header"></P></div>
                        <div class="toolbar_more">Productivity</div>
                        <div class="" ><h4>Super LTE</h4></div>
                        
                        <div class=""></div>
                      </div>
                </div>
    
                </div>
      
                <div class="image_below">
                    <img src = "https://cdn.dribbble.com/users/1016900/screenshots/4814544/conceerts.png" class="image_below"/>
      
                </div>

                <div class="image_below">
                    <img src = "https://cdn.dribbble.com/users/247458/screenshots/5052439/wallpaper1.jpg" class="image_below"/>
      
                </div>
    
               
    
          </div>
    
          <div class="flex-item2">
              <div class="image_above">
                  <img src = "https://static1.squarespace.com/static/56ba151a2fe131235c7fa2e8/t/5910bb45bebafbe5ba31d189/1494268759253/" class="image_above"/>
      
                </div>
                <div class="image_above">
                    <img src = "https://cdn.dribbble.com/users/887237/screenshots/2832678/music.png" class="image_above"/>
        
                  </div>
    
                <div >
                    <img src ="https://media1.tenor.com/images/4602d069e0efd6159841731dc6e9d4cf/tenor.gif?itemid=12982117" class="provider_image"/>
    
                  </div>
    
          </div>
    
        </div>
    
      </div>

      <div class="provider_card">
        <div class="container d-flex bd-highlight">
          <div class="flex-item">
              <div class="top_act">
                <div class="container" >
                    <div class="d-flex justify-content-end flex-column" style="height: 300px;">
                        <div class="mb-auto lighttxt_avatar"><P class="promo_header"></P></div>
                        <div class="toolbar_more">Education</div>
                        <div class="" ><h4>Top action</h4></div>
                        
                        <div class=""></div>
                      </div>
                </div>
    
                </div>
      
                <div class="image_below">
                    <img src = "https://cdn.dribbble.com/users/1016900/screenshots/4814544/conceerts.png" class="image_below"/>
      
                </div>

                <div class="image_below">
                    <img src = "https://cdn.dribbble.com/users/247458/screenshots/5052439/wallpaper1.jpg" class="image_below"/>
      
                </div>
    
               
    
          </div>
    
          <div class="flex-item2">
              <div class="image_above">
                  <img src = "https://static1.squarespace.com/static/56ba151a2fe131235c7fa2e8/t/5910bb45bebafbe5ba31d189/1494268759253/" class="image_above"/>
      
                </div>
                <div class="image_above">
                    <img src = "https://cdn.dribbble.com/users/887237/screenshots/2832678/music.png" class="image_above"/>
        
                  </div>
    
                <div >
                    <img src ="https://media.giphy.com/media/l0HlEOf5L0m2YEbW8/giphy.gif" class="provider_image"/>
    
                  </div>
    
          </div>
    
        </div>
    
      </div>



      
        
      
  <!-- <div class="ads_card">
    
    <img src="https://wallpapercave.com/wp/wp1925206.jpg" alt="">
    

  </div>
  <div class="ads_card">
    <img src ="https://cdn.dribbble.com/users/247458/screenshots/5052439/wallpaper1.jpg"/>

  </div> -->
  <!-- <div class="ads_card">

  </div>
  <div class="ads_card">

  </div> -->

</div>

<hr>

<div class="d-flex justify-content-between toolbar_title">
  
  <div><p class="toolbar_header">Best New Apps</p></div>
  <div [routerLink]="['/bestnewapps']" routerLinkActive="router-link-active" ><p class="toolbar_more">See more<span><i class="fa fa-angle-right icn_right"></i></span></p></div>
</div>

<div class="scrolling-wrapper">
  <div class="app_card"  *ngFor ="let item of items | async" [routerLink]="['/app/',item.id]">
    <div class="card_head">
      <img src="{{item.image}}"/>

    </div>
    <div class="card_body">
      <div class="body_txt">
        <p class="toolbar_header">{{item.Author}}</p>

      </div>
      <div class="body_txt">
          <p class="category_txt">{{item.Category}}</p>
  
        </div>
        <div class="body_txt">
            <span class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star grey"></i>
              </span>
    
          </div>

    </div>
    

  </div>

  
            
              
</div>

<hr>

<div class="d-flex justify-content-between toolbar_title">
  
    <div><p class="toolbar_header">Editor's Choice</p></div>
    <div><p class="toolbar_more">See more<span><i class="fa fa-angle-right icn_right"></i></span></p></div>
  </div>

<div class="scrolling-wrapper">
    <div class="app_card">
      <div class="card_head">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51hKyr0it6L.png"/>
  
      </div>
      <div class="card_body">
        <div class="body_txt">
          <p class="toolbar_header">Photos</p>
  
        </div>
        <div class="body_txt">
            <p class="category_txt">Social</p>
    
          </div>
          <div class="body_txt">
              <span class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
      
            </div>
  
      </div>
      
  
    </div>
  
    <div class="app_card">
        <div class="card_head">
          <img src="http://logok.org/wp-content/uploads/2015/02/Evernote-logo-2018-640x512.png"/>
    
        </div>
        <div class="card_body">
          <div class="body_txt">
            <p class="toolbar_header">Evernote</p>
    
          </div>
          <div class="body_txt">
              <p class="category_txt">Education</p>
      
            </div>
            <div class="body_txt">
                <span class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                  </span>
        
              </div>
    
        </div>
        
    
      </div>

      
  </div>

<hr>

<div class="d-flex justify-content-between toolbar_title">
  
  <div><p class="toolbar_header">Best New Apps</p></div>
  <div><p class="toolbar_more">See more<span><i class="fa fa-angle-right icn_right"></i></span></p></div>
</div>

<div class="scrolling-wrapper">
  <div class="app_card"  *ngFor ="let item of items | async">
    <div class="card_head">
      <img src="{{item.image}}"/>

    </div>
    <div class="card_body">
      <div class="body_txt">
        <p class="toolbar_header">{{item.Author}}</p>

      </div>
      <div class="body_txt">
          <p class="category_txt">{{item.Category}}</p>
  
        </div>
        <div class="body_txt">
            <span class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star grey"></i>
              </span>
    
          </div>

    </div>
    

  </div>

  
            
              
</div>

<hr>

<div class="d-flex justify-content-between toolbar_title">
  
    <div><p class="toolbar_header">Editor's Choice</p></div>
    <div><p class="toolbar_more">See more<span><i class="fa fa-angle-right icn_right"></i></span></p></div>
  </div>

<div class="scrolling-wrapper">
    <div class="app_card">
      <div class="card_head">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51hKyr0it6L.png"/>
  
      </div>
      <div class="card_body">
        <div class="body_txt">
          <p class="toolbar_header">Photos</p>
  
        </div>
        <div class="body_txt">
            <p class="category_txt">Social</p>
    
          </div>
          <div class="body_txt">
              <span class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
      
            </div>
  
      </div>
      
  
    </div>
  
    <div class="app_card">
        <div class="card_head">
          <img src="http://logok.org/wp-content/uploads/2015/02/Evernote-logo-2018-640x512.png"/>
    
        </div>
        <div class="card_body">
          <div class="body_txt">
            <p class="toolbar_header">Evernote</p>
    
          </div>
          <div class="body_txt">
              <p class="category_txt">Education</p>
      
            </div>
            <div class="body_txt">
                <span class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star grey"></i>
                  </span>
        
              </div>
    
        </div>
        
    
      </div>

      
  </div>

 